.list {
    &.top {
        @include breakpoint-md {
            padding-top: 80px;
        }
    }

    &.topLine {
        margin-top: 40px;

        .list__container {
            border-top: 1px solid #D1D1D1;
        }

        @include breakpoint-md {
            margin-top: 80px;
        }
    }

    &.mobileHidden {
        display: none;

        @include breakpoint-xs {
            display: block;
        }
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
    }

    &.center {
        .list__container {
            justify-content: center;
            align-items: center;
        }
    }

}