
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include breakpoint-lg {
    flex-direction: row;
  }
  
  &__img {
    display: inline-block;
    width: 100%;
  }
  
  &__container-text {
    text-align: center;
    width: 100%;
    padding-top: 20px;

    padding-right: 0;
    padding-left: 0;

    @include breakpoint-lg {
      position: absolute;
      min-height: auto;
      padding-top: 0;
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}