.cardItem {
    width: 50%;
    padding: 0 10px;

    @include breakpoint-md {
        width: 25%;
    }

    &.items4,
    &.items3 {
        width: 100%;
        padding-bottom: 40px;
        
        @include breakpoint-md {
            width: 30%;
            padding-bottom: 0;
        }   
    }

    &.items4 {
        @include breakpoint-md {
            width: 25%;
        }  
    }

    &__link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
            text-decoration: none;
        }
    }

    &__picture {
        display: flex;
        justify-content: center;
        align-items: center;

        @include breakpoint-lg {
            min-height: 238px;
        }
    }
    &__img {
        width: 100%;
        padding-bottom: 10px;
    }

    &__title {
        font-family: Nunito;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0.04em;
        text-align: center;
        color: $dark-color-primary;
    }

    &__subtitle {
        font-family: Nunito;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 22px;
        letter-spacing: 0.04em;
        text-align: center;
        color: $dark-color-primary;
    }

    &__sku {
        font-family: Nunito;
        font-size: 9px;
        font-style: normal;
        font-weight: 300;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: center;
        color: $gray-color-third;
        padding: 8px 0;
    }

    &__price {
        font-family: Nunito;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0.04em;
        text-align: center;
        color: $dark-color-primary;
    }

}