.TextLinkBtn {
  padding-bottom: 30px;
  position: relative;

  @include breakpoint-md {
    padding-bottom: 0;
  }

  &.extraTop,
  &.top {
    margin-top: 40px;
  }

  &.extraTop {
    @include breakpoint-md { 
      margin-top: 80px;
    }
  }

  &.bg-gray {
    background-color: $gray-color-fourth;
  }

  &.padding {
    padding: 25px 15px;
  }

  strong {
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 0;
  }

  &.textLeft {

    .TextLinkBtn__info,
    .TextLinkBtn__subtitle,
    .TextLinkBtn__title {
      text-align: left;
    }
  }

  &__info,
  &__subtitle,
  &__title {
    color: $dark-color-primary;
  }

  &__title {
    font-family: Lora;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0.02em;
    text-align: center;
    padding-bottom: 15px;
  }

  &__subtitle {
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.04em;
    text-align: center;
    color: $dark-color-third;
  }

  &__info {
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-align: center;
  }

  &__link { 
    font-family: Nunito;
    display: inline-block;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.02em;
    text-align: center;
    padding-top: 15px;
    color: $dark-color-primary;
    border-bottom: 1px solid $dark-color-primary;

    &:hover {
      text-decoration: none;
      color: $dark-color-primary;
      border-bottom: 1px solid transparent;
    }
  }

  &__list {
    padding-top: 10px;
  }

  &__list-items {
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.04em;
    text-align: left;
    color: $dark-color-fourth;
  }

  &__paragraph {
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.04em;
    text-align: left;
    color: $dark-color-fourth;
    padding-bottom: 20px;

    strong,
    &.bold {
      font-weight: 600;
      padding-top: 20px;
      padding-bottom: 0;
    }

    &.extraLight {
      font-family: Lora;
      font-size: 24px;
      font-weight: 400;
      padding-top: 15px;
      padding-bottom: 8px;
    }

    &.top {
      padding-top: 20px;
    }

    &.noSpace {
      padding-bottom: 0;
    }
  }

  &.white {
    .TextLinkBtn__info,
    .TextLinkBtn__title {

      @include breakpoint-md {
        color: $light-color-primary;
      }
    }
    
    .TextLinkBtn__subtitle {
      @include breakpoint-md {
        color: $light-color-primary;
      }
    }

    .TextLinkBtn__link {
      @include breakpoint-md {
        color: $light-color-primary;
        border-bottom: 1px solid $light-color-primary;
      }

      &:hover {
        @include breakpoint-md {
          color: $light-color-primary;
        }
      }
    }
  }
}