.ImgSide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding-right: 0;
    padding-left: 0;

    @include breakpoint-md {
        flex-direction: row;
        padding-right: 15px;
        padding-left: 15px;
    }

    &__content-img {
        padding-right: 0;
        padding-left: 0;
        @include breakpoint-md {
            padding-right: 15px;
            padding-left: 15px;
        }
    }

    &__img {
        display: inline-block;
        width: 100%;
        max-height: 300px;
        padding-bottom: 30px;

        @include breakpoint-md {
            padding-bottom: 0;
            max-height: none;
        }
    }

    &.left {
        flex-direction: column;

        @include breakpoint-md {
            flex-direction: row;
        }
    }

    &.top {
        padding-top: 40px;
        @include breakpoint-md {
            padding-top: 90px;
        }
    }
    &.bottom {
        padding-bottom: 40px;
    }

    &.right {
        flex-direction: column;

        @include breakpoint-md {
            flex-direction: row-reverse;
        }

    }
}