.infoProduct {
    width: 100%;
    margin-top: 40px;

    @include breakpoint-lg {
        margin: 40px auto;
        max-width: 380px;
    }

    @include breakpoint-xs {
        margin: 0;
     }

    &__wrapper {
        padding-bottom: 25px;

        &:last-child {
            padding-bottom: 0;
        }
    }

    &__title {
        font-family: Nunito;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px;
        letter-spacing: 0.04em;
        text-align: center;
    }

    &__paragraph {
        font-family: Nunito;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 26px;
        letter-spacing: 0.04em;
        text-align: center;
    }

    &__price {
        display: block;
        font-family: Nunito;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0.04em;
        text-align: center;

    }

    &__obs {
        display: block;
        font-family: Nunito;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0.04em;
        text-align: center;
    }

    &__btnLink {
        display: block;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        padding: 15px;
        background: #292929;
        color: #fff;
        border-radius: 4px;
        font-family: Nunito;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0.04em;
        text-align: center;
        margin-top: 36px;
        border: 1px solid transparent;

        &:hover {    
            color: $dark-color-third; 
            background-color: $light-color-primary;
            border: 1px solid $dark-color-third;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
        }

    }
}