//colors 

$dark-color-primary: #000;
$dark-color-secondary: #333;
$dark-color-third: #292929;

$light-color-primary: #fff;
$light-color-secondary: #F2F2F2;

$yellow-color-primary: #D5A368;
$yellow-color-secondary: #8d6638;

$gray-color-primary: #3c3c3c;
$gray-color-secondary: #999;
$gray-color-third: #7A7A7A;

$purple-color-primary: #472138;

$border-color-gray-primary: #DBDBDB;
$border-color-gray-secondary: #5A5A5A;

$gray-border: #DADADA;
